<h1>Todos</h1>


<input type="text" (input)="todoOwner = $event.target.value">
<input type="text" (input)="onStatusChange($event.target.value)">
<input type="text" (input)="todoBody = $event.target.value">
<input type="text" (input)="todoCategory = $event.target.value">

<ul class="list-group" *ngIf="todos; else todosError">
    <li id="users" *ngFor="let todo of this.filterTodos(todoOwner, todoStatus, todoBody, todoCategory)" class="list-group-item">
        <ul>
            <li>id: {{ todo._id }}</li>
            <li>owner: {{ todo.owner }}</li>
            <li>status: {{ todo.status }}</li>
            <li>body: {{ todo.body }}</li>
            <li>category: {{ todo.category }}</li>
        </ul>
    </li>
</ul>

<ng-template #todosError>
    <p>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network issues.
    </p>
    <p>
        Please wait a bit and try again.
    </p>
</ng-template>
