<br>
<div class="row">
    <div class="col-md-3" id="leftCol">
        <h1 id="title">Todos</h1>
        <button type="button" id="newTodoModalButton" class="btn btn-primary btn-block" (click)="openModal(newTodoModal)">New Todo</button>
        <br>
        <div class="form-group">
            <label for="searchInput">Search</label>
            <input id="searchInput" type="search" class="form-control" (input)="filterTodos()" [(ngModel)]="todoBody" placeholder="Search Todos">
        </div>
        <div class="form-group">
            <label for="ownerInput">Owner</label>
            <input id="ownerInput" type="text" class="form-control" [typeahead]="possibleOwners" (input)="filterTodos()" [(ngModel)]="todoOwner" placeholder="Filter by Owner">
        </div>
        <div class="form-group">
            <label for="CategoryInput">Category</label>
            <input id="CategoryInput" type="text" class="form-control" [typeahead]="possibleCategories" (input)="filterTodos()" [(ngModel)]="todoCategory" placeholder="Filter by Category">
        </div>
        <div class="form-group">
            <label for="statusInput">Status</label>
            <select id="statusInput" class="form-control" [(ngModel)]="todoStatus" (ngModelChange)="filterTodos()" >
                <option selected value="">All</option>
                <option value="complete">Complete</option>
                <option value="incomplete">Incomplete</option>
            </select>
        </div>
        <progressbar [max]="todos ? todos.length : 0" [value]="filteredTodos ? filteredTodos.length : 0">
            <span style="color:white; white-space:nowrap;">{{filteredTodos ? filteredTodos.length : 0}} / {{todos ? todos.length : 0}}</span>
        </progressbar>
    </div>
    <div class="col-md-9" id="mainCol">

        <div class="card-columns" *ngIf="todos; else todosError">
            <div class="card todoCard" *ngFor="let todo of this.filteredTodos">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted todoOwner">{{ todo.owner }}</h6>
                    <p class="card-text todoBody">{{ todo.body }}</p>
                </div>
                <div class="card-footer">
                    <span class="badge todoStatus" [class.badge-success]="todo.status" [class.badge-danger]="!todo.status">{{ todo.status ? "Complete" : "Incomplete" }}</span>
                    <span class="badge badge-secondary todoCategory">{{ todo.category }}</span>
                </div>
            </div>
        </div>

        <ng-template #todosError>
            <p>
                There was a problem loading the todos. Possibly the server is down or perhaps there are network issues.
            </p>
            <p>
                Please wait a bit and try again.
            </p>
        </ng-template>


    </div>
</div>



<ng-template #newTodoModal>
    <div class="modal-header">
        <h5 class="modal-title pull-left">New Todo</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <form #todoForm="ngForm" (ngSubmit)="addNewTodo(); todoForm.reset(); todoForm.controls['newTodoStatus'].patchValue('incomplete')">
            <div class="modal-body">
            <div class="row">
                <div class="col">

            <div class="form-group">
                <label for="newTodoOwner">Owner</label>
                <input type="text" class="form-control" id="newTodoOwner"
                       required
                       [(ngModel)]="newTodoOwner" name="newTodoOwner" #newtodoowner="ngModel">
                <div [hidden]="newtodoowner.valid || newtodoowner.pristine" class="alert alert-danger">
                    Owner is required
                </div>
            </div>

                </div>

                <div class="col">
            <div class="form-group">
                <label for="newTodoStatus">Status</label>
                <select id="newTodoStatus" class="form-control" [(ngModel)]="newTodoStatus" required name="newTodoStatus">
                    <option value="complete">Complete</option>
                    <option selected value="incomplete">Incomplete</option>
                </select>
            </div>
                </div>

            </div>

            <div class="form-group">
                <label for="newTodoBody">Body</label>
                <textarea type="text" class="form-control" id="newTodoBody"
                       required rows="5"
                          [(ngModel)]="newTodoBody" name="newTodoBody" #newtodobody="ngModel"></textarea>
                <div [hidden]="newtodobody.valid || newtodobody.pristine" class="alert alert-danger">
                    Body is required
                </div>
            </div>

            <div class="form-group">
                <label for="newTodoCategory">Category</label>
                <input type="text" class="form-control" id="newTodoCategory"
                       required
                       [(ngModel)]="newTodoCategory" name="newTodoCategory" #newtodocategory="ngModel">
                <div [hidden]="newtodocategory.valid || newtodocategory.pristine" class="alert alert-danger">
                    Category is required
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button id="newTodoCreateButton" [disabled]="!todoForm.form.valid" type="submit" class="btn btn-success" (click)="modalRef.hide()">Create</button>
            </div>
        </form>
</ng-template>
